mulesoft/2 assignment/ex4/ex2.4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="235aaf83-bd1d-4adc-a845-50b1b6cf821e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ex2.4Flow" doc:id="9099dfba-a1a4-494d-9d3e-585c8aa0a924" >
		<http:listener doc:name="Listener" doc:id="ebaa65d9-366b-49ff-87e0-e8e0999621d6" config-ref="HTTP_Listener_config" path="/user"/>
		<set-variable value="#[attributes.queryParams.name]" doc:name="Set Variable" doc:id="8df183a4-4f43-4ce3-b261-254e2adb061e" variableName="name"/>
		<ee:transform doc:name="Transform Message" doc:id="efdafb1f-fdde-4887-b92b-daccd08e48c0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"WELCOME " ++ (vars.name default"") ++ " YOUR  LOCATION IS " ++ "INDIA"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
